html, body, #map-canvas
{
height:100%;
width: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body
{
padding: 0;
margin: 0;
}

#map-nav
{
position: fixed;
left: 0px;
top: 0px;
width: auto;
height: auto;
padding: 5px 30px 5px 0;
background: rgba(61, 56, 56, 0.7) none repeat scroll 0% 0%;
font-family: 'Montserrat', sans-serif;
color: #fff;
z-index: 1000;
}

#map-nav h2
{
display:none;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 2px;
padding: 7px 20px 5px 20px;
border: 2px solid;
border-left: 0px solid;
}

#map-nav ul
{
list-style-type: none;
}

#map-nav ul li
{
text-transform: uppercase;
font-size: 14px;
padding: 5px 0px;
cursor: pointer;
}

@media (min-width:481px) {
 
#map-nav
{
top:200px;
}

#map-nav h2 {
display: block;	
}
	
	
}
